{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/dados.css' %}">
    <title>Bloco</title>
</head>
<body>
    <h2>Preencha aqui os dados dos equipamentos</h2> 
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <form method="post" action="{% url 'bloco' %}">
        {% csrf_token %}
        <h3>Bloco</h3>
        <p><label for="pass1">Data</label>
            <input type="text" class="form-control" id="data" name="data" placeholder="DD/MM/AAAA"  autocomplete="off" Required></p>
        </div>
        <p><label for="pass1">Código</label>
            <input type="text" class="form-control" id="código" name="código"  autocomplete="off" Required></p>
        </div>
        <p><label for="pass1">Lote</label>
            <input type="text" class="form-control" id="lote" name="lote"  autocomplete="off" Required></p>
        </div>
        <div class="form-group">
            <p></p><label for="pass2">Número</label>
            <input type="text" class="form-control" id="número" name="número"  autocomplete="off"  Required></p>
       
        <p><label for="pass1">Colo(Calibre)</label>
            <input type="text" class="form-control" id="colo" name="colo"  autocomplete="off" Required></p>
            
        <p><label for="pass1">Rodapé(Calibre)</label>
            <input type="text" class="form-control" id="rodape" name="rodape"  autocomplete="off" Required></p>
        
        <p><label for="pass1">Flexa</label>
            <input type="text" class="form-control" id="flexa" name="flexa"  autocomplete="off" Required></p>
        
        <p><label for="pass1">Encaixe Angular(coroa)</label>
            <input type="text" class="form-control" id="encaixe_angular" name="encaixe_angular"  autocomplete="off" Required></p>
        
        <p><label for="pass1">Encaixe FB</label>
            <input type="text" class="form-control" id="encaixe_fb" name="encaixe_fb"  autocomplete="off" Required></p>
        
        <p><label for="pass1">Externo</label>
            <input type="text" class="form-control" id="externo" name="externo"  autocomplete="off" Required></p>
        
        <p><label for="pass1">Situacao Final(Visual)</label>
            <input type="text" class="form-control" id="situacao_final" name="situacao_final"  autocomplete="off" Required></p>       
        </div>   
        <p><label for="pass1">Colaborador</label>
            <input type="text" class="form-control" id="colaborador" name="colaborador"  autocomplete="off" Required></p>
        </div>       
        <button type="submit">Enviar</button>
    </form>  
    <br><a href="{% url 'inicio' %}"><button>Voltar</button></a></br>
</body>
</html>