<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coroa</title>
</head>
<body>
    <p>Preencha aqui os dados dos equipamentos</p> 
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <form method="post" action="{% url 'coroa' %}">
        {% csrf_token %}
        COROA
        
        <div class="form-group">
            <p><label for="pass1">Data</label>
                <input type="text" class="form-control" id="data" name="data" Required></p>
            </div>
            <p><label for="pass1">Código</label>
                <input type="text" class="form-control" id="código" name="código" Required></p>
            </div>
            <p><label for="pass1">Lote</label>
                <input type="text" class="form-control" id="lote" name="lote" Required></p>
            </div>
            <p></p><label for="pass2">Número</label>
            <input type="text" class="form-control" id="número" name="número"  Required></p>
       
        <p><label for="pass1">Colo Superior(Calibre)</label>
            <input type="text" class="form-control" id="colo_superior" name="colo_superior" Required></p>
            
        <p><label for="pass1">Colo inferior(Calibre)</label>
            <input type="text" class="form-control" id="colo_inferior" name="colo_inferior" Required></p>
        
        <p><label for="pass1">Furo Anel(Calibre)</label>
            <input type="text" class="form-control" id="furo_anel" name="furo_anel" Required></p>
        
        <p><label for="pass1">Folga Anel(Lâmina)</label>
            <input type="text" class="form-control" id="folga_anel" name="folga_anel" Required></p>
        
        <p><label for="pass1">Encaixe CO/bl(Lâmina)</label>
            <input type="text" class="form-control" id="encaixe_co_bl" name="encaixe_co_bl" Required></p>
        
        <p><label for="pass1">Externo(Calibre Ferrad.)</label>
            <input type="text" class="form-control" id="externo" name="externo" Required></p>
        
        <p><label for="pass1">Situacao Final(Visual)</label>
            <input type="text" class="form-control" id="situacao_final" name="situacao_final" Required></p>       
        </div> 
        <p><label for="pass1">Colaborador</label>
            <input type="text" class="form-control" id="colaborador" name="colaborador" Required></p>
        </div>      
        <button type="submit">Enviar</button>
    </form>  
    <br><a href="{% url 'inicio' %}"><button>Voltar</button></a></br>
</body>
</html>