<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
</head>
<body>
    <a href="{% url 'coroa' %}"><button>Coroa</button></a>
    <a href="{% url 'forma' %}"><button>Forma</button></a>
    <a href="{% url 'bloco' %}"><button>Bloco</button></a>
    <br></br>
   
    {% if user.is_authenticated and user.username == 'Alessandro' %}
    <br><a href="{% url 'coroa_view' %}"><button>Resultados Coroa</button></a></br>
    <br><a href="{% url 'forma_view' %}"><button>Resultados Forma</button></a></br>
    <br><a href="{% url 'bloco_view' %}"><button>Resultados Bloco</button></a></br>  
    <br><a href="{% url 'colaboradores_view' %}"><button>Contagem colaboradores</button></a></br>
    {% endif %}

</body>
</html>